@use 'variables'
@use 'mixins'

.session-feature-title
    max-width: 383.41px
    p
        font-family: Rubik
        font-style: normal
        font-weight: 500
        font-size: 35px
        line-height: 50px
        color: #0B132A

.session-feature-description
        max-width: 427.88px
        p
            font-size: 16px
            font-weight: 400
            line-height: 30px
            color: #4F5665
            padding:  1rem 0

.session-feature-item
    padding: .5rem 0