<div class="content">
    <header class="header">
        <img src="../assets/image/logo.svg" class="header-logo">
        <nav class="header-navbar">
            <button>Home</button>
            <button>Blog</button>
            <button>Career</button>
            <button>Contact</button>
        </nav>
        <nav class="header-navbar-menu">
              <div ngbDropdown class="d-inline-block">
                    <img id="dropdownBasic1" src="../assets/icons/menu.svg" class="header-menu" ngbDropdownToggle>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <button ngbDropdownItem>Home</button>
                  <button ngbDropdownItem>Blog</button>
                  <button ngbDropdownItem>Career</button>
                  <button ngbDropdownItem>Contact</button>
                </div>
               </div>
        </nav>
    </header>
    <div class="body-content">
        <div class="body-col-text">
            <div class="body-content-title">
                <p>Want anything to be easy with <span>Truechange.</span></p>
            </div>
            <div class="body-content-description">
                <p>Provide a network for all your needs with ease and fun using <span>Truechange</span> discover
                    interesting features from us.</p>
            </div>
            <div class="body-content-button">
                <button>Get Started</button>
            </div>
        </div>
        <div class="body-col-img">
            <img src="../assets/image/Illustration 1.svg" class="ilustration-one">
        </div>
    </div>
    <div class="session-user">
        <div class="session-card">
            <div class="session-row">
                <img src="../assets/icons/user.svg" class="session-icons">
                <div class="session-col-text">
                    <p>90+</p>
                    <span>Users</span>
                </div>
            </div>
            <div class="border-grey"></div>
            <div class="session-row">
                <img src="../assets/icons/location.svg" class="session-icons">
                <div class="session-col-text">
                    <p>30+</p>
                    <span>Locations</span>
                </div>
            </div>
            <div class="border-grey"></div>
            <div class="session-row">
                <img src="../assets/icons/Server.svg" class="session-icons">
                <div class="session-col-text">
                    <p>50+</p>
                    <span>Servers</span>
                </div>
            </div>
        </div>
    </div>

    <div class="session-feature body-content">
        <div class="body-col-img">
            <img src="../assets/image/Illustration 2.svg" class="ilustration-second">
        </div>
        <div class="body-col-text">
            <div class="session-feature-title">
                <p>We Provide Many Features You Can Use</p>
            </div>
            <div class="session-feature-description">
                <p>You can explore the features that we provide with fun and have their own functions each feature.</p>
            </div>
            <div class="session-feature-list">
                <div class="session-feature-item">
                    <img src="../assets/icons/confirmed.svg">
                    Powerfull online protection.
                </div>
                <div class="session-feature-item">
                    <img src="../assets/icons/confirmed.svg">
                    Internet without borders.
                </div>
                <div class="session-feature-item">
                    <img src="../assets/icons/confirmed.svg">
                    Supercharged VPN
                </div>
                <div class="session-feature-item">
                    <img src="../assets/icons/confirmed.svg">
                    No specific time limits.
                </div>
            </div>
        </div>
    </div>

    <div class="session-blog">
        <div class="session-blog-titulo">
            <p>Blog</p>
        </div>

        <div row class="session-blog-list" id="caroselSite" data-ride="carousel">
            <div class="session-blog-card carousel-item" id="item1">
                <div class="session-row">
                    <img src="../assets/image/image-place.svg">
                </div>
                <div class="session-blog-text">
                    <p>News title</p>
                    <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
                </div>
            </div>
            <div class="session-blog-card carousel-item" id="item2">
                <div class="session-row">
                    <img src="../assets/image/image-place.svg">
                </div>
                <div class="session-blog-text">
                    <p>News title</p>
                    <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
                </div>
            </div>
            <div class="session-blog-card carousel-item" id="item3">
                <div class="session-row">
                    <img src="../assets/image/image-place.svg">
                </div>
                <div class="session-blog-text">
                    <p>News title</p>
                    <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
                </div>
            </div>
        </div>
        <div row class="session-blog-buttons">
            <div class="session-blog-dots">
                <img src="../assets/image/Union.png">
                <img src="../assets/image/Ellipse 173.png" style="padding-left: 10px;">
                <img src="../assets/image/Ellipse 173.png" style="padding-left: 10px;">
                <img src="../assets/image/Ellipse 173.png" style="padding-left: 10px;">
            </div>
            <div class="session-blog-buttons-arrow">
            <button class="session-blog-buttonLeft"><img src="../assets/image/setaLeft.png"></button>
            <button class="session-blog-buttonRight"><img src="../assets/image/setaRight.png"></button>
            </div>
        </div>
    </div>

      <div class="session-subscribe">
        <div class="session-subscribe-card">
            <div class="session-row">
                <div class="session-subscribe-text">
                    <p>Subscribe Now for Get Special Features!</p>
                    <span>Let's subscribe with us and find the fun.</span>
                </div>
            </div>
            <div class="session-subscribe-row">
                    <div class="session-subscribe-button">
                        <input type="text"> 
                        <button>Subscribe Now</button>
                    </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div>
            <img src="../assets/image/logo.svg" class="header-logo">
        </div>
        <div class="footer-socialmedia">
            <a class="facebook" href="https://www.facebook.com/somostruechange/">
                <img src="../assets/image/Facebook.png">
            </a>
            <img src="../assets/image/Twitter.png">
            <a class="instagram" href="https://www.instagram.com/somostruechange/">
                <img src="../assets/image/Instagram.png">
            </a>
        </div>
        <div class="footer-text">
            <p>©2020trechange</p>
        </div>
    </footer>
</div>